- excluded_sidebar_pages = [ {:controller => 'pages', :action => 'show'}, {:controller => 'teams', :action => 'show'}, {:controller => 'teams', :action => 'show_public'}, {:controller => 'leagues', :action => 'show'}, {:controller => 'users', :action => 'dashboard'}, {:controller => 'video_reels', :action => 'new'} ]

!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xmlns:fb'=>"https://www.facebook.com/2008/fbml", 'xml:lang'=>"en", :lang=>"en"}
  %head
    ='<!--'
    =' [if lt IE 7]>'
    =' <style type="text/css">'
    =' \.contentBoxHeader { background-image: none; }'
    =' </style>'
    =' <![endif]'
    ='-->'
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
  
    %title= page_title

    = render :partial => "shared/facebook_share_head"
     
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = render :partial => "shared/scripts_and_styles"
    
    -# if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    
  %body{ :class=>'soria' }
    = fb_connect_async_js
    -#= render :partial => "shared/facebook_test"

    - background = logged_in? ? "backgroundContainer bg_#{(rand(27)+1)}" : 'backgroundContainerHome'
    %div{:class => background }
      .outerContainer
        - if logged_in?
          = render :partial => "shared/layout_header_user"
        -else
          = render :partial => "shared/layout_header_guest"
        
        = render :partial => "shared/messages"

        - content_area = @content_area_class || (logged_in? ? 'mainContentArea' : 'landingContentArea')
        %div{:class => content_area}
          - if logged_in?
            -# unless request.ssl?
              -if @hide_right_ad
                .adContainer
                  .adCenter
                    .adPanel728x90
                      = render :partial => "shared/ad_panel", :locals => {:ad_size => '728x90'}
              -else
                .adContainer
                  .adPanel728x90
                    = render :partial => "shared/ad_panel", :locals => {:ad_size => '728x90'}
                .rightAdContainer
                  .rightAds
                    = render :partial => "shared/ad_panel", :locals => {:ad_size => '160x600'}
          = @content_for_layout
          .clearDiv/
        
      .clearDiv
      = render :partial => "shared/block_legal"     

    #centerpoint
      #dialog
        = render :partial => "shared/register"
    
    = render :partial => "shared/google_analytics" 
